<ion-view title="SLA RELEVANTES" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="sLARELEVANTES-form5" class="list">
      <h4 id="sLARELEVANTES-heading30" style="color:#000000;font-weight:300;text-align:center;">SLA RELEVANTES</h4>
      <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio:</span>
        <select>
          <option>CMR SAC CH</option>

        </select>
      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Cola </span>
        <select>
          <option>CMR SAC</option>
  

<!-- .......pa : llamadas abandonadas (%)
............po: Ocupación (%)
............sla : Nivel de Servicio (%) -->



        </select>
      </label>