<ion-view title="Login" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/7aMrDX4DSberqN26vbAT_call-center-customer-service-improving-customer-satisfaction_184079_large.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h2 id="login-heading7" style="color:#161718;font-weight:300;text-align:center;">Panel Web</h2>
    <div class="spacer" style="height: 100px;"></div>
    <div class="logo">
      <img src="img/ILDBu5fYSU0EXX3N7ptm_image002.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="login-container1">
      <form id="login-form4" class="list center-form">
        <div class="spacer" style="height: 100px;"></div>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="">
        </label>
        <a ui-sref="menu.puestosyagentes()" id="login-button12" class="button button-positive button-block">Ingresar</a>
        <div id="login-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#61DC9D;">Versio 0.0.01</p>
        </div>
      </form>
    </div>
    <div id="login-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>