<ion-view title="Puestos y agentes" id="page35">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="puestosYAgentes-form32" class="list">
      <h4 id="puestosYAgentes-heading51" style="color:#000000;font-weight:300;text-align:center;">PUESTOS Y AGENTES CONECTADOS</h4>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-select" id="puestosYAgentes-select20">
        <span class="input-label">Servicio:</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-select" id="puestosYAgentes-select21">
        <span class="input-label">Grupo</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
    </form>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style="color:black;background:">

            <th>Agentes</th>
            <th></th>
            <th>Puesto de Servicio</th>

          </tr>

          <tr>


            <td style="background:#e36c09; color:#fff;">Agentes Libres</td>
            <td>0</td>
            <td>Supervisores</td>
            <td>0</td>

          </tr>
          <tr>


            <td style="background:#c90; color:#fff;">Agentes Ocupados</td>
            <td>0</td>
            <td>Operadores</td>
            <td>0</td>

          </tr>




        </tbody>
      </table>
    </div>
    <div></div>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style="color:black;background:">




            <th colspan="4">
              <center>tiempo de espera</center>
            </th>

          </tr>

          <tr>


            <td style="background:#e36c09; color:#fff;">Agentes Libres</td>
            <td>0</td>
            <td>superviciones</td>
            <td>0</td>
          </tr>

          <tr>


            <td style="background:#c90; color:#fff;">After Call Work (ACW) </td>
            <td>0</td>
            <td>Iformacion Adicional</td>
            <td>0</td>


          </tr>

          <tr>

          </tr>






        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>