<ion-view title="PUESTOS Y AGENTES CONECTADOS" id="page36">

  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="puestos-form34" class="list">

      <label class="item item-select" id="puestos-select22">
        <span class="input-label">Servicio:</span>
        <select>
         
          <option>CMR SAC CH</option>
          <option>CMR SAC PERU</option>
        
        </select>
      </label>
      <label class="item item-select" id="puestos-select23">
        <span class="input-label">Grupo</span>
        <select>
          <option>CMR SAC CH</option>
          <option>CMR SAC PERU</option>
      
        </select>
      </label>
      <br>

   
      
      

<br>

          

            <table >
            <tr   class='resultado'>

              <th  colspan="2" >Agentes</th>
              <th colspan="2"  >Puestos de Servicio</th>
            
               
            </tr>
            <tr>

              <td >Agentes Libres</td>
              <td  class='resultado'>0</td>
              <td>Supervisores</td>
              <td class='resultado'>0</td>

            </tr>
              <tr >

              <td >Agentes Ocupados</td>
              <td class='resultado' >0</td>
              <td>Operadores</td>
              <td class='resultado'>0</td>

            </tr>
          </table> 
          <br>
         <table>
            <tr class='resultado'>

             <th colspan="4" > <center> Tiempos de Grupo % </center></th>
             
             


            </tr>

            <tr>
              <td >Not Ready </td>
              <td class='resultado'>0</td>
              <td>Wat time</td> 
               <td class='resultado'>0</td> 

            </tr>
             <tr>
              <td >After call Work(ACW) </td>
              <td class='resultado'>0</td>
              <td>Informacio Adicional</td> 
               <td class='resultado'>0</td> 

            </tr>
            <tr></tr>

          </table>
          
    </form>

       <div id="containerx">Placeholder for chart</div>


  </ion-content>
</ion-view>


