<ion-view title="PUESTOS Y AGENTES CONECTADOS" id="page36">

  <ion-content  class='contact' padding="true" class="has-header">

 
   <div class="spacer" ng-class="{'preload_1': logeandose==1}"></div>
   


       <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio:</span>


        <select ng-options="s as s.srvn for s in servicios track by s.id" ng-model="serv" ng-change='traecolas(serv)' ></select>

      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Grupo </span>



        <select ng-options="s as s.grupo_agente for s in colas" ng-model="col" ng-change='seleccionacola(col)' ></select>


      </label>



      <br>

   
      
    
          

            <table >
            <tr   class='resultado1'>

              <th  colspan="2" >Agentes</th>
              <th colspan="2"  >Puestos de Servicio</th>
            
               
            </tr>
            <tr>

              <td >Agentes Libres</td>
              <td  class='resultado'>{{reporte2.ali}}</td>
              <td>Supervisores</td>
              <td class='resultado'>{{reporte2.sup}}</td>

            </tr>
              <tr >

              <td >Agentes Ocupados</td>
              <td class='resultado' >{{reporte2.aoc}}</td>
              <td>Operadores</td>
              <td class='resultado'>{{reporte2.gr3_aoc+reporte2.gr3_ali+reporte2.gr2_rdy+reporte2.nrd+reporte2.gr2_inb+reporte2.hold}}</td>

            </tr>
          </table> 


          <br>
         <table>
            <tr class='resultado1'>

             <th colspan="4" > <center> Tiempos de Grupo % </center></th>
             
             


            </tr>

            <tr>
              <td >Not Ready </td>
              <td class='resultado'>{{reporte2.nrd}}</td>
              <td>Wat time</td> 
               <td class='resultado'>{{reporte2.wtm}}</td> 

            </tr>
             <tr>
              <td >After call Work(ACW) </td>
              <td class='resultado'>{{reporte2.acw}}</td>
              <td>Información Adicional</td> 
               <td class='resultado'></td> 

            </tr>
            <tr></tr>

          </table>


        <!--   <button class="button button-balanced button-small" ng-click='reload2()'>
        Actualizar
      </button> -->


          <br>
         




     
       

     <center><ng-gauge size="300"  cap="butt" type="semi" thick="20" min="0" max="maxvalue" value="reporte2.aoc" cap="round"   foreground-color="#bcc633" background-color="rgba(123,234,123, 0.4)" append="agentes ocupados"></ng-gauge></center>
        


    <div id="pie" style="height: 400px; max-width: 600px; margin: 0 auto"></div>

    <div id="3grafica" style="height: 400px; max-width: 600px; margin: 0 auto"></div>






  </ion-content>
</ion-view>


