<ion-view title="PUESTOS Y AGENTES CONECTADOS" id="page36">

  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="puestos-form34" class="list">

      <label class="item item-select" id="puestos-select22">
        <span class="input-label">Servicio:</span>
        <select>
         
          <option>CMR SAC CH</option>
          <option>CMR SAC PERU</option>
        
        </select>
      </label>
      <label class="item item-select" id="puestos-select23">
        <span class="input-label">Grupo</span>
        <select>
          <option>CMR SAC CH</option>
          <option>CMR SAC PERU</option>
      
        </select>
      </label>
      <br>

   
      <tr>
      <label class="item item-input" id="puestos-input74">
        <span class="input-label">Agentes</span>
        <input type="text" placeholder="">
        
      </label>
    
      </tr>
      <label class="item item-input" id="puestos-input75">
        <span class="input-label">LLamadas abandonadas</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="puestos-input76">
        <span class="input-label">Hit Ratio %</span>
        <input type="text" placeholder="">
      </label>

<br>

          

            <table >
            <tr>

              <th  colspan="2" style="background:#8ab15d; color:#fff;">Agendas</th>
              <th colspan="2"  style="background:#8ab15d;">Puestos de Servicio</th>
            
               
            </tr>
            <tr>

              <td style="background:#fff; ">Agentes libres</td>
              <td style="background:#33cd5f"; >0</td>
              <td>Supervisores</td>
              <td style="background:#33cd5f";>0</td>

            </tr>

          </table> 
          <br>
         <table>
            <tr>

              <td colspan="4" style="background:#8ab15d; "> Tiempos de Grupo %</td>
             
             


            </tr>

            <tr>
              <td style="background:#fff;">Not Ready </td>
              <td style="background:#33cd5f";>0</td>
              <td>Wat time</td> 
               <td style="background:#33cd5f";>0</td> 

            </tr>
             <tr>
              <td style="background:#fff; ">After call Work(ACW) </td>
              <td style="background:#33cd5f"; >0</td>
              <td>Informacio Adicional</td> 
               <td style="background:#33cd5f";>0</td> 

            </tr>
            <tr></tr>

          </table>
          
    </form>
  </ion-content>
</ion-view>


