<ion-view title="Puestos y agentes" id="page35">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="puestosYAgentes-form32" class="list">
      <h4 id="puestosYAgentes-heading51" style="color:#000000;font-weight:300;text-align:center;">PUESTOS Y AGENTES CONECTADOS  {{puestos}}</h4>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-select" id="puestosYAgentes-select20">
        <span class="input-label">Servicio:</span>
        <select>
          
          <option>CMR SAC CH</option>

        </select>
      </label>
      <label class="item item-select" id="puestosYAgentes-select21">
        <span class="input-label">Grupo</span>
        <select>
          <option>CMR SAC</option>

        </select>
      </label>
    </form>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style="color:black;background:">

            <th>Agentes</th>
            <th></th>
            <th>Puesto de Servicio</th>

          </tr>

          <tr>


            <td style="background:#e36c09; color:#fff;">Agentes Libres</td>
            <td>{{reporte2.gr2_rdy}}</td>
            <td>Supervisores</td>
            <td>{{reporte2.sup}}</td>

          </tr>
          <tr>


            <td style="background:#c90; color:#fff;">Agentes Ocupados</td>
            <td>{{reporte2.aoc}}</td>
            <td>Operadores</td>
            <td>{{reporte2.ope}}</td>

          </tr>




        </tbody>
      </table>
    </div>
    <div></div>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style="color:black;background:">




            <th colspan="4">
              <center>tiempo de Grupos % </center>
            </th>

          </tr>

          <tr>


            <td style="background:#e36c09; color:#fff;">Not Ready </td>
            <td>{{reporte2.nrd}}</td>
            <td>Wai time</td>
            <td>{{reporte2.wtm}}</td>
          </tr>

          <tr>


            <td style="background:#c90; color:#fff;">After Call Work (ACW) </td>
            <td>{{reporte2.acw}}</td>
            <td>Iformacion Adicional</td>
            <td>{{reporte2.wtm}}</td>


          </tr>

          <tr>

          </tr>






        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>