<ion-view title="SLA RELEVANTES" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="sLARELEVANTES-form5" class="list">
      <h4 id="sLARELEVANTES-heading30" style="color:#000000;font-weight:300;text-align:center;">SLA RELEVANTES</h4>
      <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio: CMR SAC CH</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Cola : CMR SAC</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <div style="overflow-x:auto;">
        <table>
          <tbody>
            <tr style="color:black;background:">

              <th></th>
              <th></th>
              <th>Tiempo de espera</th>


            </tr>

            <tr>


              <td style="background:#e36c09; color:#fff;">LLamadas contestadas</td>
              <td>3434</td>
              <td></td>

            </tr>
            <tr>


              <td style="background:#c90; color:#fff;">llamadas abandonadas</td>
              <td>65</td>
              <td></td>


            </tr>

            <tr>


              <td style="background:#366092; color:#fff;">llamadas en espera</td>
              <td>3</td>
              <td></td>


            </tr>




            <tr>


              <td></td>
              <td></td>
              <td></td>


            </tr>

          </tbody>
        </table>
      </div>
      <h3 id="sLARELEVANTES-heading24" style="color:#000000;font-weight:300;">Tabla de Comisiones</h3>
    </form>
  </ion-content>
</ion-view>