<ion-view title="SLA RELEVANTES" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="sLARELEVANTES-form5" class="list">
      
      <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio:</span>
        <select>
          <option>CMR SAC CH</option>

        </select>
      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Cola </span>
        <select>
          <option>CMR SAC</option>
  



        </select>
      </label>

      <br>
      <div style="overflow-x:auto;">
        <table>
          <tbody>
         

            <tr>


              <td >Llamadas Contestadas</td>
              <td class="resultado">{{reporte1.r}}</td>
              

            </tr>
            <tr>





              <td >Llamadas Abandonadas</td>
              <td class="resultado">{{reporte1.a}}</td>
              

            </tr>

            <tr>


              <td >Llamadas en Espera</td>
              <td class="resultado">{{reporte1.e}}</td>
              

            </tr>

            <tr>


              <td>Tiempo de Espera</td>
              <td class="resultado">{{reporte1.tawg}}</td>

             

            </tr>
            <tr></tr>


          </tbody>
      

      </div>
    
    </form>

       <div id="containerx">Placeholder for chart</div>


  </ion-content>
</ion-view>
