<ion-view title="SLA RELEVANTES" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="sLARELEVANTES-form5" class="list">

      <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio:</span>
        <select>
          <option>CMR SAC CH</option>

        </select>
      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Cola </span>
        <select>
          <option>CMR SAC</option>
  

<!-- .......pa : llamadas abandonadas (%)
............po: Ocupación (%)
............sla : Nivel de Servicio (%) -->



        </select>
      </label>
      <div style="overflow-x:auto;">
        <table>
          <tbody>
         

            <tr>


              <td style="background:#e36c09; color:#fff;">LLamadas contestadas</td>
              <td>{{reporte1.r}}</td>
              <td></td>

            </tr>
            <tr>






              <td style="background:#c90; color:#fff;">llamadas abandonadas</td>
              <td>{{reporte1.a}}</td>
              <td></td>


            </tr>

            <tr>


              <td style="background:#366092; color:#fff;">llamadas en espera</td>
              <td>{{reporte1.e}}</td>
              <td></td>


            </tr>

            <tr>


              <td style="background:#e36c09; color:#fff;">Tiempo de Espera</td>
              <td>{{reporte1.tawg}}</td>
             

            </tr>
            <tr></tr>


          </tbody>


      </div>
      <br>
      <h3 id="sLARELEVANTES-heading24" style="color:#000000;font-weight:300;">Tabla de Comisiones</h3>
    </form>
  </ion-content>
</ion-view>
