<ion-view title="SLA RELEVANTES" id="page11">
  <ion-content  padding="true" class="has-header contact">



    <div class="spacer" ng-class="{'preload_1': logeandose==1}"></div>

      <label class="item item-select" id="sLARELEVANTES-select15">
        <span class="input-label">Servicio:</span>
        <select>
          <option ng-repeat='s in servicios' ng-change='traecolas(servicio)' ng-model='servicio'>{{s.srvn}}</option>

        </select>
      </label>
      <label class="item item-select" id="sLARELEVANTES-select19">
        <span class="input-label">Cola </span>
        <select >
          <option ng-repeat='c in colas' ng-change='seleccionacola(c)' ng-model='c'>{{c.cmpn}}</option>
        </select>
      </label>

      <br>
        <table>
          <tbody>
            <tr>
              <td >Llamadas Contestadas</td>
              <td class="resultado">{{reporte1.r}}</td>
            </tr>
            <tr>





              <td >Llamadas Abandonadas</td>
              <td class="resultado">{{reporte1.a}}</td>
              

            </tr>

            <tr>


              <td >Llamadas en Espera</td>
              <td class="resultado">{{reporte1.e}}</td>
              

            </tr>

            <tr>


              <td>Tiempo de Espera</td>
              <td class="resultado">{{reporte1.tawg}}</td>

             

            </tr>
            <tr></tr>


          </tbody>

        </table>
      

   
      <button class="button button-balanced button-small" ng-click='reload()'>
        Actualizar
      </button>

       <div id="containerx"><a href='http://xiencias.com/contaccenter/www/#/side-menu21/page11'>Mostrar Grafica</a></div>
      

  </ion-content>
</ion-view>
